@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.Title {
  font-size: 60px;
  font-family: 'Lexend Tera', sans-serif;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  opacity: 0.2;
}
a:hover {
  opacity: 1;
}